.topbar{

height:70px;

display:flex;

align-items:center;

padding:15px;

background:#101827;

color:#fff;

}

.logo{

width:50px;

margin-right:12px;

}

.container{

padding:15px;

}

.card{

background:#fff;

color:#000;

border-radius:14px;

padding:20px;

margin-bottom:15px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.bottomNav{

position:fixed;

bottom:0;

left:0;

right:0;

height:65px;

background:#101827;

display:flex;

justify-content:space-around;

align-items:center;

}

.bottomNav button{

background:none;

border:none;

color:#fff;

font-size:18px;

display:flex;

flex-direction:column;

align-items:center;

}
